@import "../../vars.css";

.container {
  margin-top: 76px;
  color: var(--color-text);
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  margin-left: 60px;
}

.description {
  font-size: 20px;
  font-weight: 400;
  margin-top: 6px;
  margin-left: 60px;
  margin-right: 60px;
}

.projects {
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 15px;
  margin-top: 37px;
  flex-wrap: wrap;
  justify-content: center;
}

.arrow {
  border-radius: 10px;
  background: linear-gradient(180deg, #576cbc 0%, #1d70ff4d 100%);
  height: 30px;
  width: 30px;
  color: var(--color-text);
  transition: transform 0.3s ease-in-out;
}

.arrow:hover {
  transform: scale(1.30);
}

@media (max-width: 576px) {
  .projects {
    flex-direction: column;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .projects {
    flex-direction: row;
  }
}

@media (min-width: 769px) {
  .projects {
    flex-direction: row;
  }
}
